
<h1>About</h1>
<p>The Community Harvest Project is an organization dedicated to the growing local produce.</p>

<p>One of the greatest anchors in our social structure is food. We celebrate weddings and birthdays 
with it, reunite with family over it, enjoy holidays with it, and generally use it as any excuse to get together. We at The Community Harvest Project have a love for food and want to share that 
love with others in a responsible, meaningful way that will save families money and lead to better 
eating habits that impact future generations.</p>

<p>The Community Harvest Project was founded with the idea in mind of using technology and 
modern methods to raise locally grown produce within the city limits. Our goal is simple - 
to provide Shreveport with healthy food, supplying to restaurants and local markets while 
educating people on how to grow cheap, healthy food on their own.
This is a project for our community as a whole and we can't do it without you, so if you have any 
interest, questions, or concerns, please contact us.</p>


