<div class="hero-unit">
<h1>Welcome to EVO Here</h1>
<p>You found the homepage for EVO Here!</p>
<p><%= link_to "Sign Up Now!", "http://nerdybydesign.com", class: "btn btn-large btn-primary" %></p>

</div>