<div class="hero-unit">
<h1>Welcome to Community Harvest</h1>
<p>You found the homepage for Community Harvest!</p>
<p><%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-large btn-primary" %></p>

</div>